* {
  font-family: Georgia, "Times New Roman", sans-serif;
}

.homepage {
    background-color: wheat;
}

.recipe {
    background-color: rgba(245, 222, 179, 0.623);
}

.description {
    text-align: center;
}

ul li {
    font-family: "Brush Script MT";
    font-size: x-large;
}